

/* #root {
  max-width: 1550px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageCenter{
  width: 100%;
  height: auto;
}

.pageWrapper{
  width: 100vw !important;
  overflow-x: hidden !important;
  box-sizing: border-box;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}